/**||logInSection||**/
 .logInSection {
     height: calc(100vh - 115px);
     background-color: #fff;
}
 .notificationBox {
     padding: 16px;
     border-bottom: 1px solid #ccc;
}
 .accountLeft {
     border-right: 1px solid rgba(0, 0, 0, 0.25);
}
 .loginInfoSection {
     background: linear-gradient(133.88deg, rgba(255, 190, 11, 0.1) 0%, rgba(251, 86, 7, 0.1) 50%, rgba(58, 134, 255, 0.1) 100%);
}
 .loginFormSection {
     background-color: var(--clr2);
}
 .infoUpdateNotification {
     border-color:rgba(0, 0, 0, 0.25) !important;
     border-radius: 0px 0px 10px 10px;
     max-height: 488px;
     overflow: auto;
     background: #fff;
}
 .infoUpdateNotification::-webkit-scrollbar {
     width: 2px;
}
 .infoUpdateNotification::-webkit-scrollbar-track {
     background: #f1f1f1;
}
 .infoUpdateNotification::-webkit-scrollbar-thumb {
     background: #888;
}
 .infoUpdateNotification::-webkit-scrollbar-thumb:hover {
     background: #fff;
}
 .notificationBox a{
     color: initial;
     text-decoration: none;
}
 .logInSection .infoUpdateSec {
     width: 400px;
     border-radius: 10px;
     overflow: hidden;
     filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));
}
 .notifHeading h6, .notificationHeaderPara p {
     font-size: var(--s12);
}
 .notifHeading h6 {
     font-weight: bold;
}
 .notifTime span {
     color: rgba(0, 0, 0, 0.75);
     font-size: var(--s8);
}
 .infoUpdateHeader {
     border: 1px solid rgba(0, 0, 0, 0.25);
     background-image: linear-gradient(90deg, #FFBE0B 0%, #FB5607 48.44%, #3A86FF 100%), linear-gradient(90deg, #FFBE0B 0%, #FB5607 48.44%, #3A86FF 100%);
     background-origin: border-box;
     background-clip: content-box, border-box;
     padding: 16px;
     height: 50px;
     border-radius: 10px 10px 0px 0px;
}
 .loginFormSec {
     width: 440px;
     border-radius: 10px;
     filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));
}
 .loginFormHeading h4 {
     font-weight: bold;
     font-size: var(--s32);
}
 .logInSection .infoUpdateSec, .logInFormInput form {
     font-family: var(--ff_dm);
}
 .loginFormHeading {
     height: 120px;
     border: 1px solid rgba(0, 0, 0, 0.25);
     border-radius: 10px 10px 0px 0px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #fff;
}
 .logInFormInput form label {
     font-size: var(--s14);
     line-height: 18px;
     color: rgba(0, 0, 0, 0.5);
}
 .logInFormInput form .form-control {
     background: #FFFFFF;
     border: 1px solid rgba(0, 0, 0, 0.25);
     border-radius: 5px;
     height: 40px;
}
 .logInFormInput {
     padding: 20px 28px 42px;
     border-radius: 0px 0px 10px 10px;
     border: 1px solid rgba(0, 0, 0, 0.25);
     border-top: 0;
     background: #FFFFFF;
}
 .btnForm, .btnForm:hover {
     border: 1px solid rgba(0, 0, 0, 0.25);
     background-image: linear-gradient(90deg, #FFBE0B 0%, #FB5607 48.44%, #3A86FF 100%), linear-gradient(90deg, #FFBE0B 0%, #FB5607 48.44%, #3A86FF 100%);
     background-origin: border-box;
     background-clip: content-box, border-box;
     width: 100%;
     font-weight: 700;
     font-size: var(--s18);
     line-height: 23px;
     color: #FFFFFF;
     height: 46px;
     text-transform: uppercase;
}
 .loginInfoSection {
     min-width: 40%;
}
 .loginFormSection {
     min-width: 60%;
     border-left: 1px solid rgba(0, 0, 0, 0.25);
}
 .loginInfoSection, .loginFormSection {
     height: 100%;
     display: flex;
     align-items: center;
}
 .infoUpdateHeader h5 {
     font-size: var(--s18);
}
 .infoUpdateSec, .loginFormSec {
     margin: 60px 0;
}
 .loginFormSec {
     min-height: 538px;
}
 .forgotPassword a {
     font-weight: 500;
     font-size: var(--s14);
     line-height: 18px;
     background: linear-gradient(90deg, #FFBE0B 0%, #FB5607 48.44%, #3A86FF 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-decoration: none;
}
 .infoUpdateSec .infoUpdateNotification.collapse:not(.show) {
     display: block;
}
 .infoUpdateSec .infoUpdateHeader {
     pointer-events: none;
}
/**||logInSection||**/
 @media(max-width: 991px) {
     .logInSection .infoUpdateSec, .loginFormSec {
         width: 330px;
    }
     .loginInfoSection, .loginFormSection {
         min-width: 50%;
    }
}
 @media(max-width: 767px) {
     .logInSection {
         flex-direction: column-reverse;
    }
     .logInSection {
         height: auto;
    }
     .loginInfoSection, .loginFormSection {
         min-width: 100%;
    }
     .loginInfoSection {
         border-right: 0;
    }
     .infoUpdateSec{
         margin: 12px 0;
    }
     .loginFormSec {
         margin: 20px 0;
    }
     .logInSection .infoUpdateSec, .loginFormSec {
         width: 450px;
    }
     .loginFormHeading {
         height: 100px;
    }
     .infoUpdateSec .infoUpdateNotification.collapse:not(.show) {
         display: none;
    }
     .infoUpdateSec .infoUpdateHeader {
         pointer-events: unset;
    }
}
 @media(max-width: 575px) {
     .logInSection .infoUpdateSec, .loginFormSec {
         width: 100%;
         padding: 0 15px;
    }
     .loginFormHeading {
         height: 80px;
    }
}
 @media(max-width: 400px) {
     .rememberPassword {
         flex-direction: column;
    }
     .forgotPassword {
         margin-left: left!important;
    }
}
/**||logInSection||**/
/**||Accout Page CSS||**/
/**||Vir CSS||**/
 .publish_update, .publish_glossary{
     background-color:var(--white);
     border: 1px solid var(--clr1);
     border-radius:5px;
}
 .star{
     color:red;
}
 .publish_glossary {
     font-family: var(--ff_dm);
}
 .update_heading{
     border-bottom: 1px solid var(--clr1);
}
 .update_form{
     padding:40px;
     border-bottom: 1px solid var(--clr1);
}
 .update_form form lable span{
     color:red;
}
 .update_form label{
     font-weight: bold;
     font-size: var(--s12);
     margin-bottom:6px;
     color: #4E5D78;
}
 .update_form input, .update_form textarea{
     font-weight: 500;
     font-size: var(--s14);
     padding:8px 12px;
     background: var(--white);
     border: 1px solid #B0B7C3;
     border-radius: 5px;
     margin-bottom:30px;
}
 .update_form textarea{
     height:159px;
}
 .update_form input::placeholder,.update_form textarea::placeholder,.update_search_bar input::placeholder{
     color: #B0B7C3;
}
 .update_form button{
     width:100%;
     font-style: normal;
     font-weight: bold;
     font-size: var(--s18);
     text-align: center;
     color:var(--white);
     background: var(--gradient1);
     border: 1px solid rgba(0, 0, 0, 0.5);
     border-radius: 5px;
     padding:11px !important;
}
 .total_updates{
     padding:40px;
}
 .publish_glossary .total_updates_top{
     margin-bottom:30px;
}
 .total_updates_top{
     margin-bottom:15px;
}
 .toupadetes_heading h4{
     font-style: normal;
     font-weight: bold;
     font-size: var(--s18);
}
 .update_search_bar{
     height:100%;
}
 .update_search_bar input{
     font-size:var(--s15);
     padding:9px 0px;
     height: 38px;
     border-right: 1px solid rgba(136, 140, 157, 0.5)!important;
}
 .update_search_bar{
     border: 1px solid rgba(136, 140, 157, 0.5);
     box-sizing: border-box;
     border-radius: 5px;
}
 .search_btn{
     height:100%;
     font-size: var(--s12);
     width:76px;
}
 .grossary_card_cont{
     margin:0 -15px;
}
 .grossary_card_cont .updates_card{
     margin: 0px 12px 30px;
}
 .updates_card{
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
     border-radius: 5px;
     border: 1px solid var(--clr1);
     background:var(--white);
     margin:15px 0;
}
 .updates_box{
     padding:25px;
     font-style: normal;
     font-weight: normal;
     border-bottom: 1px solid var(--clr1);
}
 .box_heading h4{
     font-size:var(--s16);
     font-weight: bold;
}
 .box_heading p{
     font-size: var(--s8);
     color:var(--co_light);
     font-weight: normal;
}
 .box_content p{
     font-size: var(--s14);
     line-height: 160%;
     color:var(--co_light);
     padding-top:10px;
}
 .updates_icon{
     padding:10px 20px;
     display:flex;
}
 .updates_icon img{
     margin-right:8px;
}
 .lean_more_btn{
     margin-top:25px;
}
 .publish_glossary .lean_more_btn{
     margin-top:10px;
}
 .lean_more_btn a{
     position:relative;
     border-radius: 5px;
     padding:11px;
     text-decoration:none;
     width:100%;
     font-style: normal;
     font-weight: bold;
     font-size: var(--s16);
     line-height: 21px;
     border: solid 1px transparent;
     background-image: var(--gradient1), var(--gradient1);
     background-origin: border-box;
     background-clip: content-box, border-box;
     box-shadow: 2px 1000px 1px #fff inset !important;
}
 .lean_more_btn a:before{
     content: "";
     background: linear-gradient(90deg, rgba(255, 190, 11, 0.05) 0%, rgba(251, 86, 7, 0.05) 49.48%, rgba(58, 134, 255, 0.05) 100%);
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;
}
 .lean_more_btn span{
     background: var(--gradient1), var(--gradient1);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
 .total_updates_top .walletAddressHead {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
}
 .total_updates_top .walletAddressHead h5{
     color: #000;
}
 .updates_search {
     width: 500px;
}
 @media (min-width: 1600px) {
     .box_content br{
         display:none;
    }
}
 @media (max-width: 767px) {
     .grossary_card_cont{
         flex-direction:column;
    }
     .grossary_card_cont .updates_card{
        /* margin:15px 0;
         */
    }
     .total_updates_top .walletAddressHead {
         gap: 10px;
         flex-direction: column;
    }
}
/**||Vir CSS||**/
/**||GKP CSS||**/
.star{
     color:red !important;
}
 .publishMintArea, .publishNewsletterArea{
     background: #FFFFFF;
     border: 1px solid var(--clr1);
     border-radius: 5px;
}
 .publishMintOne {
     padding:14px 20px;
     border-bottom: 1px solid var(--clr1);
}
 .publishMintOne span{
     font: 700 var(--s20) var(--ff_dm) !important;
}
 .publishMintTwo {
     padding:40px;
     border-bottom: 1px solid var(--clr1);
}
 .publishMintThree{
     padding:40px;
}
 .publishMintTwo .form-group{
     margin-bottom:30px;
}
 .publishMintTwo .row{
     margin-bottom:-30px;
}
 .publishMintTwoForm .publishBtn{
     margin-top: 24px;
     width: 100%;
     background: linear-gradient(90deg, #FFBE0B 0%, #FB5607 50%, #3A86FF 100%);
     border: 1px solid rgba(0, 0, 0, 0.5);
     border-radius: 5px;
     font: 700 var(--s18) var(--ff_dm) !important;
     line-height:44px;
     color: var(--white);
}
 .publishNewsletterArea .publishBtn{
     margin-top: 10px;
}
 .publishMintTwoForm .formDescription{
     height:225px;
}
 .publishNewsletterArea .formDescription{
     height:130px;
}
 .publishMintTwoForm input::placeholder, .publishMintTwoForm textarea::placeholder{
     color: #B0B7C3 !important;
     font: 500 var(--s14)/24px var(--ff_dm) !important;
}
 .publishMintTwoForm label{
     font-weight: bold;
     font-size: var(--s12);
     line-height: 24px;
     color: #4E5D78;
}
 .publishMintTwoForm .input-group-text, .publishMintThree .input-group-text{
     height:100%;
     background-color: transparent !important;
     border-radius: 0 0.25rem 0.25rem 0 !important;
}
 .publishMintThree .input-group-text {
     padding:12px 32px !important;
}
 .publishMintThree .currentlyLive{
     font: bold var(--s18)/20px var(--ff_dm) !important;
}
 .publishMintThree .searchBox{
     width:500px;
}
 .publishMintThree .searchBox a{
     text-decoration:none;
}
 .publishMintThree .columnCard{
     width: calc(100% / 5 - 24px);
     margin: 15px 12px;
}
 .publishMintCardArea{
     flex-wrap: wrap !important;
     margin: 0px -12px;
}
 .publishMintCard{
     border: 1px solid var(--clr1);
     border-radius: 7px;
}
 .childMintCardOne{
     background: var(--black);
     height: 64px;
     border-radius: 7px 7px 0px 0px;
}
 .publishNewsletterArea .childMintCardOne{
     background: var(--white);
     height: 95px;
     border-radius: 5px 5px 0px 0px;
     border-bottom: 1px solid var(--clr1);
}
 .mintCardOneImg{
     position:absolute;
     top:39px;
     left:20px;
     width:50px;
     height:50px;
     background: #C4C4C4;
     border-radius:50px;
}
 .childMintCardTwo{
     padding:38px 20px;
     border-bottom: 1px solid var(--clr1);
}
 .publishNewsletterArea .childMintCardTwo{
     padding:20px !important;
}
 .publishMintArea .childMintCardTwo h5{
     font: bold var(--s12)/16px var(--ff_dm) !important;
}
 .publishMintArea .childMintCardTwo p{
     font: var(--s10)/13px var(--ff_dm) !important;
     margin-bottom:0;
}
 .publishNewsletterArea .childMintCardTwo h5{
     font: bold var(--s15)/20px var(--ff_dm) !important;
}
 .publishNewsletterArea .childMintCardTwo p{
     font: var(--s11)/16px var(--ff_dm) !important;
     margin-bottom:0;
}
 .updates_icon{
     display:flex;
     padding:10px 20px;
}
 .updates_icon img{
     margin-right:8px;
}
 .publishMintButton{
     margin-top:25px;
}
 .publishMintButton a::before{
     content:"";
     background: linear-gradient(90deg, rgba(255, 190, 11, 0.05) 0%, rgba(251, 86, 7, 0.05) 49.48%, rgba(58, 134, 255, 0.05) 100%) !important;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;
}
 .publishMintButton a{
     width:100%;
     font: bold var(--s16)/28px var(--ff_dm) !important;
     border-radius: 4px;
     border: solid 1px transparent;
     background-image: var(--gradient1), var(--gradient1);
     background-origin: border-box;
     background-clip: content-box, border-box;
     box-shadow: 2px 1000px 1px #fff inset !important;
}
 .publishMintButton span{
     background: linear-gradient(90deg, #FFBE0B 0%, #FB5607 48.44%, #3A86FF 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
/**********|| Responsive ||**********/
 @media(max-width: 1200px){
     .publishMintThree .columnCard{
         width: calc(100% / 3 - 24px);
         margin: 15px 12px;
    }
}
 @media(max-width: 767px){
     .publishMintThree .columnCard{
         width: calc(100% / 2 - 24px);
         margin: 15px 12px;
    }
     .publishMintThree .d-flex{
         flex-wrap: wrap;
    }
     .publishMintThree .currentlyLive{
         margin-bottom:20px;
    }
     .publishMintThree .searchBox {
         width: 640px;
    }
     .publishMintTwoForm .publishBtn {
         margin:10px 0 30px 0;
    }
     .publishNewsletterArea .publishMintTwoForm .publishBtn {
         margin: 10px 0 0 0;
    }
}
 @media(max-width: 575px){
     .publishMintThree .columnCard{
         width: calc(100% / 1 - 24px);
         margin: 15px 12px;
    }
}
/**||GKP CSS||**/
 .accountInner{
     font-family: var( --ff_dm);
}
 .profilePic, .profImg{
     min-width: 132px;
     height: 132px;
     overflow: hidden;
     border-radius: 100%;
}
 .profImg {
     background: rgba(74, 114, 207, 0.75);
     border: 1px solid rgba(0, 0, 0, 0.5);
     display: flex;
     align-items: center;
     justify-content: center;
}
 .profImg span {
     font-style: normal;
     font-weight: bold;
     font-size: var(--s32);
     line-height: 26px;
     color: #FFFFFF;
}
 .editProfile {
     bottom: 0;
     width: 100%;
     text-align: center;
}
 .editProfile a {
     font-style: normal;
     font-weight: bold;
     font-size: var(--s11);
     line-height: 14px;
     color: #FFFFFF;
     text-decoration: none;
     display: flex;
     width: 100%;
     padding: 0 10px 12px;
     align-items: center;
     justify-content: center;
}
 .accountInner label {
     font-style: normal;
     font-weight: bold;
     font-size: var(--s12);
     line-height: 14px;
     color: #4E5D78;
}
 .accountInner .form-control {
     font-weight: 500;
     font-size: var(--s14);
     color: #4E5D78;
     height: 40px;
     border: 1px solid #B0B7C3;
     border-radius: 5px;
}
 .accountInner .form-control::placeholder {
     color: #B0B7C3;
}
 .accountInner label span {
     color: red;
     font-size: var(--s16);
}
 .accountInner textarea.form-control {
     height: 88px;
}
 .accountLeft, .walletAddress, .mobAccountBtn, .changePassword {
     padding: 36px 40px;
}
 .topTitle {
     border-radius: 5px 5px 0px 0px;
}
 .accountInner{
    /*border-radius: 0px 0px 5px 5px;
    */
     flex-direction: inherit;
}
 .changePassword .input-group-text {
     background: #fff;
}
 .changePassword input.form-control {
     border-right: 0;
}
 .accountChangeHead h5{
     font-weight: bold;
     font-size: var(--s18);
     line-height: 20px;
     color: #4E5D78;
}
 .accountRightInner {
     display: flex;
     flex-direction: column;
}
 .changePassword {
     border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
 .mobAccountBtn .btnForm{
     background: rgba(236, 0, 0, 0.75);
     color: var(--white);
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid #000000;
}
 .mobAccountBtn {
     border-top: 1px solid rgba(0, 0, 0, 0.25);
}
 .accountInner .form-group {
     margin-bottom: 12px;
}
 .accountOuter {
     padding-bottom: 25px;
}
 @media(max-width: 991px) {
     .profilePicOuter {
         flex-direction: column;
    }
     .accountLeft, .changePassword, .walletAddress, .mobAccountBtn,.total_updates, .update_form {
         padding: 15px;
    }
}
 @media(max-width: 767px) {
     .accountInner {
         flex-direction: column;
    }
     .accountLeft, .accountRight{
         width: 100% !important;
    }
}
/**||Accout Page CSS||**/
 