/**********|| Header Css ||**********/
.logoColumn,
.topHeaderSection {
  padding: 15px 30px;
  height: 65px;
  width: 100%;
}

.contantSection,
.logoColumn,
.topHeaderSection {
  z-index: 9999;
  position: sticky;
  top: 0;
}

.margintxt {
  margin: 30px;
}

.para {
  margin-left: 30px;
  margin-top: -27px;
}

.updatesearchbar {
  margin-top: -32px;
  margin-left: 71%;
}

.customButton {
  border-radius: 4px;
}

.customButton,
.learnBtn,
.ljBtn,
.FullViews a,
.titleCard h4 {
  text-transform: capitalize !important;
}

.learnBtn,
.ljBtn {
  padding: 0px 10px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
}

.ljBtn {
  border: 1px solid rgba(0, 0, 0, 0.75);
}

.btnTwo {
  background: rgba(236, 0, 0, 0.75);
  color: var(--white);
}

.headerSearchBar .input-group .btn {
  padding: 0 5px 0 15px;
  background-color: transparent;
}

.headerSearchBar .form-control {
  padding-left: 6px;
  height: 32px;
}

.headerSearchBar .form-control::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.headerSearchBar .input-group {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  max-width: 90%;
}

.headerBtnSec a,
.headerSearchBar .input-group {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.05));
}

.headerBtnSec a img {
  height: 40px;
}

.headerBtnSec {
  column-gap: 30px;
}

.myaccnt .btnOne img {
  width: 22px;
  height: 22px;
  margin: -2px 3px 0px 0px;
}

/**********|| Header Css ||**********/
/**********|| Aside Bar Css ||**********/
.leftSection {
  max-width: 274px;
  z-index: 111;
  position: sticky;
  height: 100vh;
  top: 0;
  bottom: 0;
  overflow: auto;
  flex-wrap: wrap;
}

aside.sidebarSection {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 100%;
}

.close:hover {
  fill: green !important;
}

.sidebarColumn {
  padding: 30px 20px;
}

.nav-item {
  margin-bottom: 5px;
  color: rgba(125, 129, 144, 0.9);
}

.nav-item a {
  color: rgba(125, 129, 144, 0.9);
  font-weight: 500;
}

ul .publish_manage_ul .active,
.nav-item .active,
.nav-item:hover {
  color: #0d6efd;
  background: rgba(102, 108, 255, 0.05);
  border-radius: 8px;
}

ul .publish_manage_ul .active {
  background: rgba(255, 255, 255, 0.05) !important;
}

.nav-item .active svg.sidebar-img path,
.nav-link:hover svg.sidebar-img path {
  fill: #666cff;
}

svg.sidebar-img path {
  fill: #7d8190;
}

.sidebar-img {
  height: 17px;
}

.text-heading {
  font-size: 24px;
}

.sidebar-text {
  margin-left: 10px;
  width: 100%;
  letter-spacing: 0.01em;
}

.dropdown-item {
  list-style: none;
}

.publish_manage_ul {
  list-style: none !important;
  padding-left: 15px;
}

ul .publish_manage_ul:hover {
  background-color: white;
}

ul .publish_manage_ul .dropdown-item:hover {
  color: #666cff;
  background: rgba(102, 108, 255, 0.05);
  border-radius: 8px;
}

.dropdown-item {
  list-style: none;
}

.dwn-arrowbtn {
  height: 5px !important;
  margin-top: 7px !important;
  /* margin-left: 5px; */
}

/* .sidebarColumn>ul>li>a {
  gap: 6px;
} */

.lean_more_btn a:before,
.publishMintButton a::before {
  content: "";
  /* background: rgba(102, 108, 255, 0.05); */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.sidebarColumn>ul>li.dropdown ul.dropdown-menu li a.dropdown-item span {
  position: relative;
}

.btnThree {
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #fff;
  width: 100%;
  mix-blend-mode: normal;
  text-align: left;
}

.needBox {
  padding: 20px 20px;
  background: linear-gradient(300.22deg,
      rgba(255, 190, 11, 0.1) 0%,
      rgba(251, 86, 7, 0.1) 48.44%,
      rgba(58, 134, 255, 0.1) 92.71%);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.needBox h4 {
  line-height: 20px;
}

.needBox p {
  color: rgba(0, 0, 0, 0.9);
}

/**********|| Aside Bar Css ||**********/
/**********|| Middle Box Css ||**********/
@media (min-width: 1200px) {
  .ljSectionData {
    min-height: calc(100vh - 115px);
  }
}

/* .ljSectionData {
  padding: 30px;
  padding-bottom: 0px;
} */
.ljSectionData {
  padding: 25px 25px;
}

/* .titleCard h4,
.users_heading h4,
.courses_box,
.ljpFlex .sideTexts p {
  margin: 0;
} */
.titleCard h4,
.users_heading h4,
.courses_box,
.ljpFlex .sideTexts p {
  margin-left: 5px;
}

.title-container-dashbrd {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.titleCard {
  padding: 12px 0px;
}

.titleCard h4 span {
  text-transform: capitalize;
  font-weight: 400;
}

.FullViews a {
  padding: 10px 5px;
  min-height: 117px;
}

.FullViews a h6 {
  padding-bottom: 30px;
}

.FullViews a .data2Line h3 {
  line-height: 26px;
}

.FullViews a .data2Line p {
  color: rgba(0, 0, 0, 0.75);
  line-height: 14px;
}

/**********|| Middle Box Css ||**********/
/**********|| Footer Css ||**********/
.footerCard {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 12px 30px;
}

.footerCard div p {
  line-height: 20px;
}

.SocialLists {
  column-gap: 15px;
}

.footerCard h5 {
  font-weight: 700;
  margin-bottom: 15px;
}

.ljpFlex {
  gap: 15px;
}

.ljpFlex .sideImg {
  width: 50px;
}

.ljpFlex .sideTexts {
  width: calc(100% - 50px);
}

.ljpFlex .sideTexts p {
  font-weight: 400;
}

.lernFooter {
  margin-bottom: 30px;
}

/**********|| Footer Css ||**********/
/**********|| GKP Css ||**********/
.buildCourseArea {
  margin-top: 30px;
}

.uploadDiv {
  height: 154px;
  margin-bottom: 30px;
}

.uploadImg {
  height: 120px;
  background: rgba(0, 0, 0, 0.1);
}

.uploadBtn {
  height: 34px;
  padding: 2px 20px;
}

.uploadBtn a {
  font-family: Roboto;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.75);
}

.publishStatus .btn {
  width: 100% !important;
}

.publishFormDiv,
.autohrDiv,
.levelDiv {
  border-top: 1px solid var(--clr1);
}

.publishButton {
  border-radius: 5px 5px 0px 0px;
}

.authorBtn {
  border-radius: 0px;
}

.levelBtn {
  border-radius: 0px 0px 5px 5px;
}

.publishFormDiv,
.autohrDiv,
.levelDiv {
  background: rgba(240, 240, 240, 0.5);
}

.publishButton,
.authorBtn {
  border-bottom: 0 !important;
}

.publishFormDiv .form-check {
  padding: 0;
}

.publishStatus button.btn[aria-expanded="true"] img {
  transform: rotate(180deg);
}

.publishStatus span {
  font: 500 var(--s12) var(--ff_dm);
}

.publishFormDiv span {
  font: bold var(--s11) var(--ff_dm) !important;
}

.publishStatus label,
.prevNextDiv a {
  font: 500 var(--s14) var(--ff_dm) !important;
}

.publishTimeDiv input {
  padding: 0 5px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 12px;
  border-radius: 0;
}

.publishStatusDiv,
.publishTimeDiv {
  column-gap: 15px;
}

.prevNextDiv ul,
.numberNext ul {
  column-gap: 10px;
  margin-bottom: 0;
}

.numberNext a {
  font: 500 var(--s18) var(--ff_dm);
}

.prevNextDiv .page-link {
  width: 100px;
  height: 35px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  line-height: 35px !important;
  font-weight: bold !important;
}

.questionsFormDiv .input-group-text input {
  width: 18px;
  height: 18px;
  appearance: none;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.questionsFormDiv .input-group-text input:checked {
  background-image: url(../../images/icons/check.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.questionsFormDiv input,
.questionsFormDiv .input-group-text {
  border: 1px solid #b0b7c3;
  border-radius: 0;
}

.questionsFormDiv .input-group-text {
  background: #b0b7c3;
}

.questionsFormDiv .input-group {
  overflow: hidden;
  border-radius: 5px;
}

.publishStatusDiv input {
  position: relative;
  appearance: none !important;
  background: #f7f7f7 !important;
  border: 1px solid #000000 !important;
  width: 15px;
  height: 15px;
}

.publishStatusDiv input:checked {
  background: #ffbe0b !important;
}

.numberNext .page-link {
  width: 34px;
  height: 34px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid var(--black);
  border-radius: 50px !important;
  padding: 5px;
  line-height: 23px;
}

.numberNext .page-link:hover {
  color: var(--black) !important;
}

.numberNext .page-link.active {
  color: var(--white) !important;
  background-color: var(--black) !important;
}

.questionDiv {
  margin-bottom: 30px;
}

.questionDiv span {
  font: bold var(--s18) var(--ff_dm);
}

.viewDraft a {
  font: bold var(--s14) var(--ff_dm);
}

.buildForm .profileGroup {
  column-gap: 30px;
}

.childGroupOne {
  width: calc(100% - 270px);
}

.childGroupTwo {
  width: 240px;
}

/**********|| GKP Css ||**********/
/**********|| VSP Css ||**********/
.mt_30 {
  margin-top: 30px;
}

.courses_box {
  padding: 15px 20px;
}

.course_heading,
.course_para {
  font-weight: normal;
}

.coursebox_left {
  width: 70%;
}

.coursebox_right {
  width: 30%;
  text-align: right;
}

.course_para p {
  margin-bottom: 0px;
}

.coursebox_right a {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 7px 18px;
  display: inline-block;
  height: 40px;
  display: flex;
  align-items: center;
}

.current_courses_table thead th {
  white-space: nowrap;
}

/* .current_courses_header .toupadetes_heading h4 {
     padding: 14px 20px;
}*/
/* .current_courses_header .updates_search {
     margin: 9px 20px;
}
 .current_courses_header .updates_search .update_search_bar {
     width: 70%;
}*/
.current_courses {
  margin-top: 30px;
}

.current_courses_table {
  /* color: rgba(0, 0, 0, 0.85); */
  color: #7d8190;
}

.main_table td {
  color: #4a5056;
}

.current_courses_table thead th {
  padding: 15px 10px;
  vertical-align: baseline;
}

.current_courses_table thead th:first-child,
.current_courses_table tbody td:first-child {
  padding: 15px 20px;
}

.current_courses_table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.current_courses_table tbody td {
  font-weight: 600;
  padding: 0px 10px;
  vertical-align: baseline;
}

/* .action_head {
     min-width: 156px;
}*/
/* .course_id {
     min-width: 130px;
}*/
.current_courses .coursebox_right a {
  padding: 9px 18px;
  margin-right: 20px;
  display: inline-block;
}

.jlpSupportTickets .current_courses_table table thead tr th:nth-child(5) {
  width: 300px;
}

/*------- USERS PAGE CSS------*/
/* .users_heading {
  padding: 13px 20px;
} */
.users_heading {
  padding-bottom: 10px !important;
}

.users_sub-heading {
  padding: 13px 20px;
}

.custom_active_link {
  border: 1px solid rgba(125, 129, 144, 0.1);
  padding: 0px 10px;
  border-radius: 8px;
}

.user_bottom_header .updates_search {
  width: 50%;
}

.user_bottom_header {
  gap: 30px;
}

.users_table {
  border: 1px solid rgba(125, 129, 144, 0.1);
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin: 0px 20px 25px 20px;
}

/* .users_bottom_part {
  border: 1px solid rgba(125, 129, 144, 0.15);
  border-radius: 8px;
} */

.users_table .current_courses_table tr {
  border-bottom: none;
}

.users_table_footer {
  /* border: 1px solid var(--clr1); */
  justify-content: center;
  border-top: 1px solid rgba(125, 129, 144, 0.1) !important;
  /* padding: 0 20px; */
}

.users_table_footer ul {
  padding: 10px 0;
  margin-bottom: 0px;
}

/* .users_table_footer ul li a {
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  margin-right: 15px;
}
.users_table_footer ul li a:hover {
  background: none;
  border: 1px solid var(--black);
} */
/* .action_icons {
     min-width: 125px;
}*/
/* pagination css */
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.topNav {
  width: 100%;
}

/* .total_updates_top {
  border-bottom: 1px solid rgba(125, 129, 144, 0.15);
  margin-bottom: 20px;
} */
.tox:not([dir="rtl"]) {
  border: 1px solid rgba(125, 129, 144, 0.15);
  border-radius: 8px;
}

.custom_form .btnForm {
  /* background: rgba(102, 108, 255, 0.9); */
  background: rgb(186, 189, 255);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.page-item.active .page-link {
  /* z-index: 3; */
  color: #0d6efd;
  background-color: transparent;
  border: none;
  border-color: transparent;
}

.page-item .page-link {
  /* z-index: 3; */
  color: #7d8190;
  background-color: transparent;
  border: none;
  border-color: transparent;
}

.page-item.active .page-link {}

/*----------- custom_link css--------- */
.custom_form .btnForm,
.custom_form .form-select,
.rowOne .form-group .form-control,
.loginFormHeading img {
  height: 44px;
}

.custom_form .form-select {
  color: #b0b7c3;
}

/*-----------support tickets----------*/
.total_tickets {
  padding: 13px 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.total_tickets div.d-flex {
  margin-right: 20px;
}

.ticket_open {
  color: #ffbe0b;
}

.ticket_close {
  color: #fb5607;
}

.currently_open {
  background: linear-gradient(23deg, #ffbe0b 0%, #ed5d18 0%, #3a86ff 68%);
}

/*---- log_in password ------*/
.or_text {
  margin: 32px 0;
}

/**********|| VSP Css ||**********/
/**********|| Toggle ||**********/
.lbl {
  position: relative;
  display: block;
  height: 24px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 5%);
  content: "";
  transition: all 0.3s ease;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: -1px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: #df4a4a;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 5%);
  content: "";
  transition: all 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.press .lbl:after {
  transform: translateX(0px);
}

.press input:checked+.lbl:after {
  transform: translateX(15px);
  background: #666cff;
}

.lbl {
  position: relative;
  display: block;
  height: 16px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.hidden {
  display: none;
}

.updates_icon a img,
.updates_icon span img {
  width: 20px;
  height: 20px;
}

.updates_icon span {
  cursor: pointer;
}

/**********|| Toggle ||**********/
.grid {
  column-count: 4;
  column-gap: 20px;
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  column-gap: 20px;
  column-fill: balance;
  grid-gap: 22px;
  row-gap: 20px;
}

span.star {
  color: red;
}

/**********|| Inputs and Other Css ||**********/
/**||logInSection||**/
.logInSection {
  height: calc(100vh - 115px);
}

.notificationBox {
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

.accountLeft {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.loginInfoSection {
  background: linear-gradient(133.88deg,
      rgba(255, 190, 11, 0.1) 0%,
      rgba(251, 86, 7, 0.1) 50%,
      rgba(58, 134, 255, 0.1) 100%);
}

.loginFormSection {
  background-color: var(--clr2);
}

.infoUpdateNotification {
  border-color: rgba(0, 0, 0, 0.25) !important;
  border-radius: 0px 0px 10px 10px;
  max-height: 460px;
  overflow: auto;
}

.infoUpdateNotification::-webkit-scrollbar {
  width: 1px;
}

.loginFormSec {
  width: 440px;
}

.logInSection .infoUpdateSec {
  width: 400px;
}

.loginFormSec,
.logInSection .infoUpdateSec {
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));
}

.notifTime span {
  color: rgba(0, 0, 0, 0.75);
}

.infoUpdateHeader {
  padding: 16px;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
}

.loginFormHeading {
  border-radius: 10px 10px 0px 0px;
}

.logInFormInput {
  border-radius: 0px 0px 10px 10px;
  border-top: 0px !important;
}

.btnForm {
  width: 100%;
  font-weight: 700;
  line-height: 23px;
  font-size: 15px;
  height: 46px;
  text-transform: capitalize;
}

.loginInfoSection {
  min-width: 600px;
}

.loginFormSection {
  min-width: calc(100% - 600px);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.infoUpdateSec,
.loginFormSec {
  margin: 20px 0;
}

/* .loginFormSec {
     min-height: 538px;
}*/
.forgotPassword a {
  font-weight: 500;
  line-height: 18px;
}

.infoUpdateSec .infoUpdateNotification.collapse:not(.show) {
  display: block;
}

.infoUpdateSec .infoUpdateHeader {
  pointer-events: none;
}

/**||Accout Page CSS||**/
/**||Vir CSS||**/
.publish_glossary .total_updates_top {
  margin-bottom: 30px;
}

.total_updates_top {
  padding: 20px;
  /* margin-bottom: 25px; */
  /* border-bottom: 1px solid rgba(125, 129, 144, 0.15); */
}

.update_search_bar input {
  padding: 9px 0px;
  border-right: 1px solid rgba(136, 140, 157, 0.5) !important;
  font-family: "Inter";
  font-size: 12px;
}

.update_search_bar {
  border: 1px solid rgba(136, 140, 157, 0.5);
  height: 36px;
}

.search_btn {
  width: 76px;
}

.grossary_card_cont .updates_card {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 0 0 28px;
}

.updates_card {
  box-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
  height: 100%;
}

.updates_box {
  padding: 20px;
  /*font-weight: normal;*/
}

.box_heading p {
  color: var(--co_light);
  font-weight: normal;
}

.box_content p {
  line-height: 160%;
  color: var(--co_light);
  padding-top: 10px;
}

.updates_icon {
  padding: 10px 20px;
}

.updates_icon img {
  margin-right: 8px;
}

.lean_more_btn {
  margin-top: 25px;
}

.publish_glossary .lean_more_btn {
  margin-top: 10px;
}

.lean_more_btn a {
  position: relative;
  padding: 0px 15px;
  width: 100%;
  line-height: 45px;
  height: 45px;
  border: solid 1px transparent;
  box-shadow: 2px 1000px 1px #fff inset !important;
}

.total_updates_top .walletAddressHead h5 {
  color: #000;
}

.updates_search {
  width: 315px;
}

.ljpTTPUpdates .updates_search {
  width: 400px;
}

.publishMintTwoForm .input-group-text {
  border: 1px solid #b0b7c3;
}

/**||Vir CSS||**/
/**||GKP CSS||**/
.publishMintOne {
  padding: 14px 20px;
}

.publishMintOne span {
  font: 700 var(--s20) var(--ff_dm) !important;
}

.publishMintTwo .form-group,
.buildCourseArea .form-group {
  margin-bottom: 30px;
}

.publishMintTwo .mbBtm {
  margin-bottom: -30px;
}

.publishMintTwoForm .publishBtn,
.buildCourseArea .publishBtn {
  width: 100%;
  background: linear-gradient(90deg, #ffbe0b 0%, #fb5607 50%, #3a86ff 100%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  font: 700 var(--s18) var(--ff_dm) !important;
  line-height: 44px;
}

.publishMintTwoForm .publishBtn {
  /*margin-top: 24px;
    height: 45px;
    padding: 0px 10px;
    line-height: 45px;*/
}

.publishNewsletterArea .publishBtn {
  margin-top: 10px;
}

.current_courses_table tbody td:first-child {
  white-space: nowrap;
}

.publishMintTwoForm .formDescription {
  height: 228px;
}

.publishNewsletterArea .formDescription {
  height: 134px;
}

.publishMintTwoForm .input-group-text,
.publishMintThree .input-group-text {
  background-color: transparent !important;
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.publishMintThree .input-group-text {
  padding: 12px 32px !important;
}

.publishMintThree .currentlyLive {
  font: bold var(--s18) var(--ff_dm) !important;
}

.publishMintThree .searchBox {
  width: 500px;
}

/* .publishMintThree .columnCard {
     width: calc(100% / 4 - 24px);
     margin: 15px 12px;
}*/
/* .publishMintCardArea {
     flex-wrap: wrap !important;
     margin: 0px -12px;
}*/
.publishMintCard {
  border-radius: 7px;
}

.childMintCardOne {
  background: var(--black);
  height: 64px;
  border-radius: 7px 7px 0px 0px;
  /* background-image: url({https://wallpapercave.com/wp/wp6966503.jpg}); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mintCardOneImg img.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.publishNewsletterArea .childMintCardOne {
  height: 95px;
  border-radius: 5px 5px 0px 0px;
}

.mintCardOneImg {
  position: absolute;
  top: 39px;
  left: 20px;
  width: 50px;
  height: 50px;
  background: #c4c4c4;
  border-radius: 50px;
}

.childMintCardTwo {
  padding: 38px 20px 15px;
}

.publishNewsletterArea .childMintCardTwo {
  padding: 20px !important;
}

.publishMintArea .childMintCardTwo h5 {
  font: bold var(--s12) var(--ff_dm) !important;
  overflow-wrap: break-word !important;
}

.publishMintArea .childMintCardTwo p {
  font: var(--s10) var(--ff_dm) !important;
  margin-bottom: 0;
  word-wrap: break-word !important;
}

.publishNewsletterArea .childMintCardTwo h5 {
  font: bold var(--s15) var(--ff_dm) !important;
}

.publishNewsletterArea .childMintCardTwo p {
  font: var(--s11) var(--ff_dm) !important;
  margin-bottom: 0;
  word-wrap: break-word;
}

.updates_icon {
  padding: 10px 0 0 0;
}

.updates_icon img {
  margin-right: 8px;
}

.publishMintButton {
  margin-top: 25px;
}

/* .update_form input,
.update_form textarea {
  margin-bottom: 30px;
} */
.update_form button,
.publishMintTwoForm .publishBtn,
.buildCourseArea .publishBtn {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.accountInner .form-control,
.update_form input,
.update_form textarea,
.logInFormInput form .form-control {
  font-weight: 500;
  color: #4e5d78;
  min-height: 42px;
  border: 1px solid rgba(125, 129, 144, 0.1);
}

.logInFormInput form label {
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.publishMintTwoForm label,
.buildForm label,
.addQuestionsForm label,
.accountInner label,
.update_form label {
  line-height: 30px;
  color: #4e5d78;
}

/**||GKP CSS||**/
.profilePic,
.profImg {
  min-width: 132px;
  height: 132px;
  overflow: hidden;
  border-radius: 100%;
}

.profImg {
  background: rgba(74, 114, 207, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.profImg span {
  line-height: 26px;
}

.editProfile {
  bottom: 0;
  width: 100%;
}

.editProfile a {
  line-height: 14px;
  width: 100%;
  padding: 0 10px 12px;
}

.update_form .form-control::placeholder,
.update_search_bar .form-control::placeholder,
.accountInner .form-control::placeholder,
.publishMintTwoForm .form-control::placeholder,
.buildCourseArea .form-control::placeholder {
  color: #b0b7c3;
  font: 500 var(--s14) var(--ff_dm) !important;
}

.accountInner label span,
.update_form form label span {
  color: red;
}

/* .accountInner textarea.form-control,.update_form textarea {
     height: 159px;
} */
.update_form textarea {
  height: 159px;
}

.accountLeft,
.walletAddress,
.mobAccountBtn {
  padding: 36px 40px;
}

.changePassword {
  padding: 46px 40px;
}

.topTitle {
  border-radius: 5px 5px 0px 0px;
}

.accountInner {
  border-radius: 0px 0px 5px 5px;
  flex-direction: inherit;
}

.changePassword .input-group-text {
  border: 1px solid #b0b7c3;
  border-left: 0;
}

.changePassword input.form-control {
  border-right: 0;
}

.accountChangeHead h5 {
  line-height: 20px;
  color: #4e5d78;
}

.changePassword {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.mobAccountBtn .btnForm {
  background: rgba(236, 0, 0, 0.75);
  border: 1px solid #000000;
}

.mobAccountBtn {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.accountInner .form-group {
  margin-bottom: 12px;
}

.accountOuter {
  padding-bottom: 25px;
}

.updates_card .updates_icon,
.publishMintCard .updates_icon {
  border-top: 1px solid var(--clr1);
}

.publishMintTwo .form-control {
  border: 1px solid #b0b7c3;
  border-radius: 5px;
  min-height: 40px;
}

.btnForm {
  background: rgba(102, 108, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/**||Accout Page CSS||**/
/**********|| Inputs and Other Css ||**********/
/**********|| Common Css ||**********/
.infoUpdateHeader,
/* .btnForm, */
.forgotPassword a,
.publishMintButton span,
.publishMintButton a,
/* .update_form button, */
.lean_more_btn a,
.customButton,
.customButton span,
.btnThree,
/* .FullViews a h6, */
.gradiant_text,
.lean_more_btn span {
  background-image: var(--gradient1);
}

.logInSection,
.loginFormHeading,
.publish_update,
.publish_glossary,
.updates_card,
.publishMintArea,
.publishNewsletterArea,
.buildCourseArea,
.publishNewsletterArea .childMintCardOne,
.accountInner .form-control,
.update_form input,
.update_form textarea,
.logInFormInput form .form-control,
.changePassword .input-group-text,
.infoUpdateNotification,
.logInFormInput,
.leftSection,
.logoColumn,
.topHeaderSection,
.lbl,
.headerSearchBar .input-group,
.footerCard,
.courses_box,
.current_courses,
.user_part,
.custom_link,
.total_tickets {
  background-color: var(--white);
}

.logInFormInput form .form-control,
.publish_update,
.publish_glossary,
.update_form input,
.update_form textarea,
.update_form button,
.update_search_bar,
.updates_card,
.lean_more_btn a,
.publishMintArea,
.publishNewsletterArea,
.buildCourseArea,
.publishMintTwoForm .publishBtn,
.buildCourseArea .publishBtn,
.accountInner .form-control,
.publishMintButton a,
.uploadDiv,
.prevNextDiv .page-link,
.courses_box,
.coursebox_right a,
.current_courses,
.user_part,
.custom_link,
.users_table_footer ul li a,
.total_tickets,
.needBox {
  border-radius: 5px;
}

.btnForm,
.lean_more_btn a,
.publishMintButton a,
.infoUpdateHeader,
.customButton {
  background-origin: border-box;
}

.accountInner,
.logInSection .infoUpdateSec,
.logInFormInput form,
.publish_glossary,
.needBox h4,
.needBox p,
.titleCard h4,
.FullViews a,
.footerCard h5,
.footerCard div p,
.courses_box,
.toupadetes_heading h4,
.current_courses_table,
.user_part,
.custom_link,
.total_tickets,
.or_text,
.login_btn_text,
.total_updates_top,
.publishMintTwo {
  font-family: var(--ff_dm);
}

.update_heading,
.update_form,
.publishMintOne,
.publishMintTwo,
.buildForm,
.addQuestionsForm,
.publishNewsletterArea .childMintCardOne,
.uploadImg,
.current_courses_header,
.current_courses_table thead,
/* .custom_link .users_heading, */
/* .custom_link_form, */
.logoColumn,
.topHeaderSection,
/* .users_table .current_courses_table thead tr, */
.ljpTTPUpdates .walletAddressHead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.custom_link_form {
  border-bottom: 1px solid rgba(125, 129, 144, 0.1);
  /* padding: 20px; */
}

.custom-submitbtn {
  margin-top: 5px;
  border-top: 1px solid rgba(125, 129, 144, 0.1);
}

.users_table .current_courses_table thead {
  border-bottom: 1px solid rgba(125, 129, 144, 0.1);
}

.logInFormInput form .form-control,
.infoUpdateHeader,
.loginFormHeading,
.logInFormInput,
.btnForm,
.publishMintArea,
.publishNewsletterArea,
.buildCourseArea,
.publishMintCard,
.publish_update,
.publish_glossary,
.updates_card,
.publishButton,
.authorBtn,
.levelBtn,
.courses_box,
.current_courses,
.total_tickets,
.uploadDiv,
.user_part

/* .custom_link  */
  {
  /* border: 1px solid rgba(125, 129, 144, 0.15);
  border-radius: 8px; */
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.custom_link {
  border: 1px solid rgba(125, 129, 144, 0.1) !important;
  border-radius: 8px;
  /* margin-bottom: 20px; */
}

.ljSectionDatacustomlink {
  justify-content: space-between;
}

.custon_linkbtn {
  width: fit-content;
  height: 34px;
  background: rgba(102, 108, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: -9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
}

.forget_password a,
.coursebox_right a,
.footerCard div p,
.FullViews a h6,
.needBox h4,
.btnThree,
.headerSearchBar .form-control,
.users_table_footer ul li a {
  font-weight: 500;
}

.notifHeading h6,
.loginFormHeading h4,
.toupadetes_heading h4,
.box_heading h4,
.lean_more_btn a,
.update_form button,
.publishMintTwoForm label,
.buildForm label,
.addQuestionsForm label,
.accountInner label,
.update_form label,
.profImg span,
.editProfile a,
.accountChangeHead h5,
.custom_form_heading h4,
.total_tickets,
.or_text,
.login_btn_text,
.titleCard h4,
.FullViews a h3,
.course_heading h4,
.current_courses_header .toupadetes_heading h4,
.current_courses_table thead th,
.users_heading h4,
.users_bottom_part .toupadetes_heading h4 {
  font-weight: 600;
}

.updates_icon,
.profImg,
.editProfile a,
.accountRightInner,
.mobAccountBtn .btnForm,
.loginFormHeading,
.loginInfoSection,
.loginFormSection,
.updates_icon,
.total_updates_top .walletAddressHead,
.logoColumn,
.topHeaderSection,
aside.sidebarSection,
.FullViews a h3,
.courses_box,
.updates_icon,
.updates_card_section .updates_card,
.publishMintThree .columnCard .publishMintCard {
  display: flex;
}

.mobAccountBtn .btnForm,
.loginFormHeading,
.loginInfoSection,
.loginFormSection,
.total_updates_top .walletAddressHead,
.profImg,
.editProfile a,
.courses_box,
.logoColumn,
.topHeaderSection,
.headerSearchBar .form-control,
.total_tickets {
  align-items: center;
}

.editProfile a,
.mobAccountBtn .btnForm,
.loginFormHeading,
.profImg,
.FullViews a {
  justify-content: center;
}

.total_updates_top .walletAddressHead,
aside.sidebarSection,
.courses_box,
.updates_card_section .updates_card,
.publishMintThree .columnCard .publishMintCard {
  justify-content: space-between;
}

.accountRightInner,
.updates_card_section .updates_card,
aside.sidebarSection,
.FullViews a,
.publishMintThree .columnCard .publishMintCard {
  flex-direction: column;
}

.profImg span,
.editProfile a,
.btnForm,
.btnForm:hover,
.publishMintTwoForm .publishBtn,
.buildCourseArea .publishBtn,
.update_form button,
.mobAccountBtn .btnForm {
  color: var(--white);
  /* background-color: #666cff; */
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.titleCard h4,
.publishFormDiv span,
.publishStatus label,
.prevNextDiv a,
.publishStatus span,
.numberNext a,
.viewDraft a,
.coursebox_right a,
.users_table_footer ul li a:hover,
.btnOne,
.FullViews a h3 {
  color: rgba(87, 91, 108, 0.85);
}

.publishMintTwo,
.buildForm,
.addQuestionsForm,
.publishMintThree,
.buildPublishBtn,
.total_updates,
.update_form,
/* .users_bottom_part, */
/* .custom_link_form, */
.logInFormInput {
  /* padding: 40px; */
  padding: 20px;
}

/* .ActiveLinks{
  border-bottom: 1px solid black;
} */
.loginFormHeading {
  padding: 40px 80px;
}

.update_search_bar,
.search_btn,
.publishMintTwoForm .input-group-text,
.publishMintThree .input-group-text,
.loginInfoSection,
.loginFormSection {
  height: 100%;
}

/* .update_search_bar{height: 66%;} */
.update_search_bar button.btn img,
.headerSearchBar button.btn img {
  position: relative;
  top: -8px;
}

.form-select {
  background-image: url(../../images/icons/dwnarw.svg) !important;
  background-size: 12px 12px !important;
  border: 1px solid rgba(125, 129, 144, 0.1);
}

.box_heading p,
.notifTime span {
  font-size: var(--s10);
}

.editProfile a,
.btnThree {
  font-size: var(--s11);
}

.notifHeading h6,
.notificationHeaderPara p,
.search_btn,
.publishMintTwoForm label,
.buildForm label,
.addQuestionsForm label,
.accountInner label,
.update_form label,
.needBox p,
.headerSearchBar .form-control,
.FullViews a .data2Line p,
.uploadBtn a {
  font-size: var(--s12);
}

.forgotPassword a,
.box_content p,
.accountInner .form-control,
.update_form input,
.update_form textarea,
.logInFormInput form .form-control,
.logInFormInput form label,
.current_courses_table tbody td,
.users_table_footer ul li a,
.custom_form .form-select,
.customButton,
.learnBtn,
.ljBtn,
.rowOne .form-group .form-control,
.forget_password a,
.ljpFlex .sideTexts p {
  font-size: var(--s14);
}

.update_search_bar input,
.course_para p,
.coursebox_right a,
.users_table .current_courses_table tbody td,
.footerCard div p {
  font-size: var(--s13);
}

.box_heading h4,
.lean_more_btn a,
.accountInner label span,
.update_form form label span,
/* .FullViews a h6, */
.current_courses_table thead th,
.needBox h4,
.footerCard h5 {
  /* font-size: var(--s16); */
  font-weight: 600;
  font-size: 13px;
  text-align: left;
}

.FullViews a h6 {
  font-size: var(--s16);
}

.infoUpdateHeader h5,
.toupadetes_heading h4,
.update_form button,
/* .accountChangeHead h5, */
.btnForm,
.or_text,
.login_btn_text,
.custom_form_heading h4,
.users_bottom_part .toupadetes_heading h4,
.course_heading h4,
.total_tickets {
  font-size: var(--s15);
}

.accountChangeHead h5 {
  font-weight: 700;
  font-size: 24px;
  color: rgba(87, 91, 108, 0.9) !important;
}

.accountChangeHead p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(125, 129, 144, 0.9);
}

.active_link_customs {
  justify-content: space-between;
}

.toupadetes_heading h4,
.titleCard h4,
.users_heading h4 {
  font-size: var(--s20);
}

.FullViews a .data2Line h3 {
  font-size: var(--s24);
}

.profImg span,
.loginFormHeading h4

/* .FullViews a h3  */
  {
  font-size: var(--s32);
  /* font-weight: 600;
  font-size: 28px; */
}

.FullViews a h3 {
  font-size: var(--s32);
  font-weight: 600;
  font-size: 28px;
}

.publishMintButton span,
.forgotPassword a,
.lean_more_btn span,
.gradiant_text,
.customButton span,
.currently_open {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: rgba(125, 129, 144, 0.85);
  padding-left: 15px; */
}

.FullViews a h6 {
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent;  */
  color: rgba(125, 129, 144, 0.85);
  padding-left: 15px;
}

.update_form button,
.FullViews a,
.editProfile,
.prevNextDiv ul,
.numberNext ul,
.coursebox_right,
.coursebox_right a,
.or_text {
  /* text-align: center; */
}

/**********|| Common Css ||**********/
.bg-error {
  color: red;
  font-size: var(--s12);
}

.err_below {
  color: red;
}

/* .user-modal-background {
  height: 100vh;
  top: 0;
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
} */
.user-modal-container {
  width: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  z-index: 100;
}

.p-relative {
  position: relative;
}

.cross_btnDiv {
  display: flex;
  justify-content: space-between;
}

.cross_btn {
  border: none;
  background-color: transparent;
}

.form_group {
  margin-top: 18px;
}

.form_group label {
  display: block;
}

.form_group input {
  width: 100%;
  padding: 8px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.modal_button {
  display: flex;
  justify-content: space-between;
}

.btn_submit {
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ed5d18;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.btn_submit:hover {
  color: #000;
}

.cards {
  overflow-y: none;
  max-height: 280px !important;
  overflow-x: auto;
}

.cards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 7px rgba(156, 156, 156, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.cards::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 7px rgba(145, 143, 143, 0.3);
  background-color: rgb(114, 114, 114);
}

.h-80 {
  height: 80px;
}

/* ui2.1 admin panel changes */
/* top bar css */

.logoColumn-logotext {
  font-weight: 600;
  font-size: 18px;
  padding-left: 6px;
  /* padding-top: 4px; */
  display: flex;
  align-items: center;
  color: #4a5056;
}

.admintxt {
  font-weight: 900;
  font-size: 23px;
  /* padding-left: 6px;
  padding-top: 4px; */
  display: flex;
  align-items: center;
  color: #4a5056;
}

.adminname {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
}

.name-span {
  color: #575b6c;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  font-family: Inter;
}

.owner-span {
  color: #7d8190;
  font-weight: 600;
  font-size: 11px;
  font-family: Inter;
}

.img-fluid-top-bar-icon {
  height: 18px !important;
  margin-top: 12px !important;
}

.img-fluid-dwn-arrowbtn {
  height: 6px !important;
  margin-top: 15px !important;
  margin-left: -10px;
}

.dropdown-content {
  display: block;
}

.dropdown-content span {
  color: #575b6c;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  max-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -80px;
  margin-top: 15px;
  padding-left: 5px;
}

.dropdown-content li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.searchicon {
  /* content: "\f002"; */
  padding-left: 50px;
}

.btncls {
  position: relative;
  top: 40px;
  left: -13px;
  z-index: 1;
}

.searchfield {
  width: 700px;
  margin-top: -40px;
}

.full-amount {
  display: block !important;
  text-align: right;
  align-items: flex-end;
  padding-right: 15px;
}

.card-box-dashbrd {
  /* width: 200px; */
  /* height: 120px; */
  /* margin-bottom: 20px;  */
  padding: 0px 5px;
}

.FullViews {
  border-radius: 8px;
}

.custom-link_backbtn {
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  margin-bottom: 20px;
}

.custom-link_backbtn-feedback {
  margin: 25px 0px 0px 25px;
}

.draft_btn {
  width: fit-content;
  height: 34px;
  border: 1px solid rgba(102, 108, 255, 0.9);
  border-radius: 8px;
  margin-top: -9px;
  margin-right: 12px;
  padding: 0px 10px 0px 10px;
}

.box {
  width: 100%;
  height: 115px;
  background-color: gray;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.box img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 18px;
}

.tag_custom {
  border: 1px solid rgba(102, 108, 255, 0.9);
  /* background-color: #efefef; */
  padding: 3px;
  border-radius: 10px;
  margin: 10px 20px 10px 20px;
}

.add-lesson-link {
  width: 100px;
  height: 35px;
  background: #ffffff;
  border: 1px solid rgba(80, 80, 80, 0.15);
  border-radius: 8px;
  padding: 7px 11px;
  line-height: 35px !important;
  font-weight: bold !important;
}

.lesson-link {
  width: 100px;
  height: 35px;
  font-size: 14px !important;
  background: #ffffff;
  border: 1px solid rgba(80, 80, 80, 0.15);
  border-radius: 8px;
  padding: 8px 15px;
  line-height: 35px !important;
  font-weight: 600 !important;
}

.lesson-link.active {
  color: #666cff !important;
  background: rgba(102, 108, 255, 0.05);
  border: 1px solid #666cff;
}

.cover-image {
  height: 165px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.cover-video {
  height: 165px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-group-custom {
  display: flex;
}

.form-group-custom input {
  border-radius: 5px 0px 0px 5px !important;
}

.input-group-append-custom {
  background: linear-gradient(0deg,
      rgba(125, 129, 144, 0.1),
      rgba(125, 129, 144, 0.1)),
    #ffffff;
  border: 1px solid rgba(125, 129, 144, 0.15);
  border-radius: 0px 8px 8px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 120%;
  color: rgba(87, 91, 108, 0.75);
}

.input-group select {
  background-image: url("/assets/images/icons/dwnarw.svg");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: center;
}

#collapsibleNavbar {
  width: 230px !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.headerSearchBarSelect {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(125, 129, 144, 0.5);
}

.headerSearchBarMain {
  display: flex;
  border: 1px solid rgba(125, 129, 144, 0.15);
  border-radius: 8px;
  align-items: center;
  width: 600px;
  height: 40px;
  box-sizing: border-box;
}

.headerSearchBarMain button {
  padding-right: 0;
}

.css-1s2u09g-control {
  border: none !important;
}

.headCount {
  margin-left: 12px;
  vertical-align: top;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 7px;
  background: rgba(102, 108, 255, 0.1);
  border-radius: 8px;
  color: rgba(102, 108, 255, 0.9);
}

.accountChangeHeadPartialHead {
  font-weight: 600;
  font-size: 20px;
}

.active_link_customs p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(125, 129, 144, 0.9);
  letter-spacing: 0.03em;
}

.custom-link_backbtn img {
  padding: 0 0 4px 11px !important;
}

.css-1rhbuit-multiValue {
  background: rgba(186, 189, 255, 0.3) !important;
}

.css-14el2xx-placeholder {
  color: rgba(125, 129, 144, 0.5) !important;
}

.FullViews h6 {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.ljSectionData {
  background: #f5f5f5;
}

.linkbtn_main {
  margin: 0 19px 0 -5px;
}

.update_search_bar {
  height: 36px;
}

.update_search_bar input {
  height: 34px;
  font-family: "Inter";
  font-size: 12px;
  border: none !important;
}

.review_section {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  border: 1px solid rgba(125, 129, 144, 0.15);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.review_section span {
  color: #7d8190;
}

.review_section b {
  font-size: 16px;
}

.review_section .row {
  margin: 0;
  font-weight: 500;
}

.total_updates_top {
  /* width: 66% !important; */
  border-bottom: 1px solid rgba(125, 129, 144, 0.15);
  padding: 25px;
}

.total_updates_top h6 {
  font-size: 14px;
}

.courseQustionMain {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: rgba(87, 91, 108, 0.85);
}

.courseQustionMain input[type="text"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #121213a4;
  border-radius: 8px;
  margin-bottom: 20px;
}

.courseQustionMain input[type="text"]::placeholder {
  color: rgba(125, 129, 144, 0.5);
}

.courseQustionMain input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid rgba(125, 129, 144, 0.15);
  border-radius: 8px;
  margin-bottom: 15px;
}

.courseQustionMain input[type="checkbox"]:checked {
  background: rgba(102, 108, 255, 0.9);
}

.nav-link {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.title-container-dashbrd img {
  height: 22px;
  margin-top: 2px;
}

.users_heading img {
  height: 22px;
}

.row {
  margin: auto;
}

.input-group-custom {
  height: 42px;
  align-items: center;
}

.created-by-filter-custom {
  position: relative;
  top: 26px;
  left: 78%;
}

.created-by-filter-custom-label {
  font-size: 13px;
  font-weight: 600;
  margin-right: 5px;
}

.btn-danger {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.valid_feedbackMsg {
  font-weight: 600;
  font-size: var(--s14);
  color: #CC1F29;
  margin-top: 8px;
}

.redBorderCustom {
  border: 2px solid #CC1F29 !important;
}

.editIconCustom {
  width: 16px;
  color: rgb(255 177 0);
  ;
}

.delIconCustom {
  width: 16px;
  color: rgb(222 11 11);
}